.layout {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.header {
  height: 60px;
  background-color: #6941da;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  color: white;
  font-size: 28px;
  font-weight: bold;
  margin-left: 10px;
}

.icon {
  font-size: 40px;
  color: white;
}

.sidebar {
  width: 250px;
  background-color: #f4f4f4;
  position: fixed;
  top: 60px;
  bottom: 0;
  overflow-y: auto;
  padding-top: 20px;
  transition: transform 0.3s ease;
  transform: translateX(-100%);
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar.closed .list-item-text {
  display: none;
}

/* Ensure the logo remains visible */
.sidebar.closed .logo-container {
  display: flex;
}

.content {
  flex: 1;
  margin-left: 0;
  margin-top: 60px;
  padding: 20px;
  background-color: #fff;
  overflow-y: auto;
  transition: margin-left 0.3s ease;
}

.layout.sidebar-open .content {
  margin-left: 250px;
}
.css-cveggr-MuiListItemIcon-root {
  min-width: 56px;
  color: rgba(0, 0, 0, 0.54);
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-right: -15px;
}

.css-10hburv-MuiTypography-root {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.00938em;
  display: block;
}