.layout {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.header {
  height: 60px;
  background-color: #6941da;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  color: white;
  font-size: 28px;
  font-weight: bold;
  margin-left: 10px;
}

.icon {
  font-size: 40px;
  color: white;
}

/* Sidebar base styles */
.sidebar {
  width: 250px;
  background-color: #f4f4f4;
  position: fixed;
  top: 60px;
  bottom: 0;
  overflow-y: auto;
  padding-top: 20px;
  transition: width 0.3s ease, transform 0.3s ease;
  left: 0;
  display: flex;
  flex-direction: column;
}

/* Sidebar closed state */
.sidebar.closed {
  width: 65px; /* Adjusted width when closed */
  height: inherit;
}

/* Sidebar open state */
.sidebar.open {
  transform: translateX(0);
}

/* Logout button styling */
.logout-button {
  margin-top: auto;
  width: 100%;
  padding: 10px 0;
  position: absolute;
  bottom: 20px; /* Adjust position of logout button */
  left: 0;
}

.logout-button .MuiButton-root {
  color: white;
  background-color: #6941da;
}

.logout-button .MuiButton-root:hover {
  background-color: #512da8;
}

/* Content section styling */
.content {
  flex: 1;
  margin-left: 250px;
  margin-top: 60px;
  padding: 20px;
  background-color: #fff;
  overflow-y: auto;
  transition: margin-left 0.3s ease;
}

/* Content margin adjustment when sidebar is closed */
.sidebar.closed + .content {
  margin-left: 65px; /* Adjusted margin-left when sidebar is closed */
}

/* Divider styling */
.sidebar-divider {
  margin: 20px 0;
  border: none;
  border-top: 1px solid #ccc;
}

/* Icon sizing */
.sidebar .icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

/* Override font family */
.sidebar .list-group .list-item-text .css-10hburv-MuiTypography-root {
  font-family: inherit;
}

/* Specific styling for MuiButtonBase root within the sidebar */
.sidebar .css-bshv44-MuiButtonBase-root-MuiListItem-root {
  margin: 8px;
}

/* Ensure margin is applied when sidebar is closed */
.sidebar.closed .css-bshv44-MuiButtonBase-root-MuiListItem-root {
  margin: 8px;
}

/* Ensure margin is applied when sidebar is open */
.sidebar.open .css-bshv44-MuiButtonBase-root-MuiListItem-root {
  margin: 1px;
}
