.css-10hburv-MuiTypography-root {
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    display: block;
  }
  /* Override font family */
.sidebar .list-group .list-item-text .css-10hburv-MuiTypography-root {
    font-family: inherit; /* or specify your desired font-family */
  }
  