body { 
    margin: 0; 
    font-family: Arial, sans-serif; 
} 

.header { 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 10px 20px; 
    background-color: #007bff; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    height: 60px;
    color: white;
} 

.logo { 
    color: white; 
    font-size: 28px; 
    font-weight: bold; 
} 

.icon { 
    font-size: 40px; 
    color: white; 
}

.container { 
    display: flex; 
} 

.sidebar { 
    width: 200px; 
    background-color: #343a40; 
    padding-top: 5px; 
    height: calc(100vh - 60px);
    position: fixed; 
    top: 60px; 
    left: 0;
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
} 

.list-group { 
    width: 100%; 
} 

.list-group-item { 
    display: block; 
    padding: 10px 15px; 
    margin-bottom: 5px; 
    border: none; 
    color: white; 
    text-decoration: none; 
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
} 

.list-group-item:nth-child(1) {
    background-color: #3128a7; /* Green */
}

.list-group-item:nth-child(2) {
    background-color: #408691; /* Teal */
}

.list-group-item:nth-child(3) {
    background-color: #9867c0; /* Yellow */
}

.list-group-item:nth-child(4) {
    background-color: #412aa8; /* Red */
}

.list-group-item:nth-child(5) {
    background-color: #6f42c1; /* Purple */
}

.list-group-item:nth-child(6) {
    background-color: #7948b1; /* Orange */
}

.list-group-item:nth-child(7) {
    background-color: #7091b4; /* Blue */
}

.list-group-item:hover, .list-group-item:focus { 
    filter: brightness(85%);
    color: #ffffff; 
} 

.list-group-item-action.active { 
    color: white; 
    background-color: #007bff; 
    border-color: #007bff; 
} 

.disabled { 
    color: #6c757d; 
    pointer-events: none; 
    cursor: default; 
    background-color: #e9ecef; 
    border-color: #ddd; 
}

.logout-button {
    margin: 10px;
    padding: 10px;
    background-color: #dc3545;
    border: none;
    border-radius: 5px;
    text-align: center;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s;
    cursor: pointer;
}

.logout-button:hover {
    background-color: #c82333;
}

.content { 
    margin-left: 200px; 
    padding: 20px; 
    flex-grow: 1; 
    background-color: #f8f9fa;
    min-height: calc(100vh - 60px);
}
